1. Frecuencia de pares. Diseña una función dpar(M), en que, dada una lista M de números enteros 
positivos, devuelva un diccionario donde se muestre la frecuencia de aparición de los números 
pares de M.

In [ ]:
def dpar(M):
  """
  Esta función contabiliza los números pares de una lista y devuelve un diccionario.

  """
  # Declaramos dos listas
  numeros = []
  contador= []
  # Recorremos la lista con los números y si es para lo almacenamos en las listas correspondientes
  for numero in M:
    if numero%2 ==0:
      numeros.append(numero)
      contador.append(M.count(numero))
  # Devolvemos el diccionario
  return  dict(zip(numeros,contador))

In [ ]:
M = [12, 19, 19, 18, 18, 16, 18, 13, 19, 18, 12, 18, 11, 20, 14,14, 20, 20, 20, 16, 13, 15, 19, 14, 12]
dpar(M)

{12: 3, 14: 3, 16: 2, 18: 5, 20: 4}

2. Temperaturas ciudades. Se tienen las temperaturas de ciudades durante los primeros 4 meses 
del año en una lista de listas, donde cada lista representa la información de una ciudad (nombre y 
luego las temperaturas). Diseña una función TempMaxMin(lst) en que, dada una lista de listas 
como que la que se presenta, devuelva un diccionario con los nombres de las ciudades como claves
y como valores una lista con las temperaturas máxima y mínima.

In [ ]:
def TempMaxMin(lst):
  """
  Esta función devuelve un diccionario con los nombres de las ciudados y sus temperaturas máximas y mínimas dado una lista con esta info.

  """
  # Declaramos dos listas
  ciudades = []
  temperaturas= []
  # Recorremos la lista dada y almacenamos el nombre de las ciudades y la temperatura máxima y mínima.
  for lista in lst:
    ciudades.append(lista[0])
    temperaturas.append([max(lista[1:len(lista)]),min(lista[1:len(lista)])])
  # Devolvemos el diccionario.
  return  dict(zip(ciudades,temperaturas))

In [ ]:
lst_ciudad = [['Londres', 3.4, 6.3, 10.5, 6.8],['Oslo', -3.8, -5.0, 5.1, 4.2], ['Berlin', 7.5, 4.1, 12.3, 13.0],['Málaga', 14.7, 12.3, 19.5, 18.4]]
TempMaxMin(lst_ciudad)

{'Berlin': [13.0, 4.1],
 'Londres': [10.5, 3.4],
 'Málaga': [19.5, 12.3],
 'Oslo': [5.1, -5.0]}

3. Temperaturas nevada. Se dispone de dos diccionarios. En uno de ellos (ej. dPersC) se guardan, 
como claves, nombres de personas y como valores los nombres de las ciudades donde residen; y 
en el otro (ej. dCiudT) se guardan, como claves, nombres de ciudades y como valores las 
respectivas temperaturas de esas ciudades (en ºC), medidas el día de la primera nevada del año.
Diseña una función PersMayTemp(dPersC, dCiudT) en que, dados dos diccionarios como los 
descritos, devuelva una lista con los nombres de las personas que residen en ciudades en las cuales 
la temperatura estuvo por debajo de 0ºC el día de esa primera nevada de este año. La lista 
resultante debe estar ordenada alfabéticamente. En caso de no haber ciudades con temperaturas 
bajo cero, se devolverá la lista vacía.

In [ ]:
def PersMayTemp(dPersC,dCiudT):
  """
  Esta funcion devuelve una lista con los nombres de las personas que viven en ciudades con temperaturas inferiores a 0 grados
  """
  # Inicializo una lista.
  personas = []
  # Recorro el diccionario
  for clave in dPersC:
    # Almaceno aquellos nombres de personas que viven en ciudades bajo 0 
    if dCiudT[dPersC[clave]] < 0:
      personas.append(clave)
  # devuelve la lista de nombres ordenados
  return sorted(personas)

In [ ]:
dCi = {'Manchester': 1.1, 'Madrid': -8.9, 'Gava': 4, 
 'Pobla de Segur': -5.6, 'Lleida': -3.2, 'Elche': 2.1, \
 'Burgos': -6.0, 'Sant Boi': 4.5}
dPe = {'Pepe': 'Manchester', 'Lionel': 'Gava', 'Mike': 'Sant Boi', \
'Puyol': 'Pobla de Segur', 'Jaime': 'Elche', 'Sergi': 'Lleida',\
'Ernesto': 'Madrid', 'Carlos': 'Burgos'}
PersMayTemp(dPe, dCi)

['Carlos', 'Ernesto', 'Puyol', 'Sergi']

4. Hipertensión. Se dispone de un diccionario de personas con su presión arterial. En cada elemento 
del diccionario la clave es el nombre de la persona y el valor es una lista con la edad y las presiones 
sistólica (alta) y diastólica (baja). Si consideramos que una persona sufre de hipertensión si la 
presión sistólica es mayor o igual a 140 mmHg o la diastólica es mayor o igual a 90 mmHg, diseña 
una función lst_hiper(dic, edad) en que, dado un diccionario dic como el descrito y una edad, 
devuelva la lista de los nombres de las personas menores de esa edad que sufren hipertensión 
arterial.

In [ ]:
def lst_hiper(dic, edad):
  persona = []
  for clave in dic:
    if dic[clave][0]< edad:
      if dic[clave][1]>=140 or dic[clave][2]>=90:
        persona.append(clave)
  return persona

In [ ]:
 dpers = {'Maria': [40, 135, 90],'Nuria': [63, 141, 92], \
 'Jose': [47, 110, 59], 'Luis': [49, 146, 94], \
 'Oriol': [52, 130, 89], 'Carlos': [65, 125, 89], \
 'Pepe': [70, 130, 92] }
print(lst_hiper(dpers, 45))
print(lst_hiper(dpers, 70))

['Maria']
['Maria', 'Nuria', 'Luis']

5. Nivel de potasio en sangre. Se tiene un diccionario con los valores de concentración de potasio 
en sangre ([K+]) de un grupo pacientes medidos antes de entrar a terapia de hemodiálisis. La clave 
es el nombre del paciente y el valor es la [K+] (en mmol/L). Además, se tiene una lista del tipo 
[valor1, valor2, valor3, valor4] con los distintos valores que clasifican la condición clínica en que 
están los pacientes, de acuerdo a las concentraciones de potasio en sangre ([K+]). Estos valores 
dependen del tipo de población (niños, adultos, etc.). 
La condición clínica del paciente sigue el siguiente criterio de clasificación: 
- Si el valor de [K+] es menor que valor1 indica 'hipokalemia crítica', 
- si es mayor o igual al valor1 y menor que el valor2 sería 'hipokalemia leve',
- si está entre valor2 y valor3 (ambos inclusive) indica 'normal', 
- si es mayor que valor3 y menor o igual que valor4 es 'hiperkalemia moderada'
- y valores mayores que valor4 sería 'hiperkalemia severa'. 
Ejemplo de una lista con elementos [valor1, valor2, valor3, valor4] para un adulto de mediana edad: 
[2.0, 3.5, 5.2, 7.0]
Diseña una función nivelKsang(dK, lst) en que, dado un diccionario dK que tiene como clave el 
nombre de un paciente y como valor su nivel de [K+] en sangre, y una lista lst con 4 valores de 
clasificación, como los descritos, devuelva un diccionario que tenga como claves los nombres de los 
pacientes y como valores su clasificación, de acuerdo a los niveles de [K+] en sangre.

In [ ]:
def nivelKsang(dK,lst):
  """
  Esta función realiza un diagnostico según la concentración de potasio en sangre.

  """
  # Declaramos dos listas donde almacenaremos los nombres y la clasificación
  nombre = []
  clasificacion = []
  # Recorremos el diccionario y almacenamos los nombres y la clasificación en las listas creadas
  for clave in dK:
    nombre.append(clave)
    if dK[clave]<lst[0]:
      clasificacion.append('hipokalemia crítica')
    if dK[clave]>=lst[0] and dK[clave]<lst[1]:
      clasificacion.append( 'hipokalemia leve')
    if dK[clave]>=lst[1] and dK[clave]<=lst[2]:
      clasificacion.append( 'normal')
    if dK[clave]>lst[2] and dK[clave]<=lst[3]:
      clasificacion.append( 'hiperkalemia moderada')
    if dK[clave]>lst[3]:
      clasificacion.append( 'hiperkalemia severa')
  # Devolvemos un diccionario con las listas 
  return   dict(zip(nombre,clasificacion))

In [ ]:
 dK1 = {'Luis': 2.2, 'Carlos': 7.0, 'Laia': 4.0, 'Mikel': 5.5, \
 'Jordi': 5.2, 'Anna': 3.6, 'Joe': 7.2}
ls1 = [2.0, 3.5, 5.2, 7.0]
nivelKsang(dK1,ls1)

{'Anna': 'normal',
 'Carlos': 'hiperkalemia moderada',
 'Joe': 'hiperkalemia severa',
 'Jordi': 'normal',
 'Laia': 'normal',
 'Luis': 'hipokalemia leve',
 'Mikel': 'hiperkalemia moderada'}

6. Temperatura ciudades en DataFrame. A partir de lst_ciudad de las temperaturas de las 
ciudades de los primeros 4 meses del año del ejercicio 2:

a) Diseña un código para crear un objeto DataFrame que contenga en sus columnas: 'Ciudad', 
'Enero', 'Febrero', 'Marzo', 'Abril' y los datos sean los valores de las listas de ciudades de 
lst_ciudad. Agregar como nombre del DataFrame: 'Temperatura ciudades'.

In [ ]:
import pandas as pd 
lst_ciudad = [['Londres', 3.4, 6.3, 10.5, 6.8],['Oslo', -3.8, -5.0, 5.1, 4.2], ['Berlin', 7.5, 4.1, 12.3, 13.0],['Málaga', 14.7, 12.3, 19.5, 18.4]]
ciudades = [ciudades[0] for ciudades in lst_ciudad]
t_ene = [ciudades[1] for ciudades in lst_ciudad]
t_feb = [ciudades[2] for ciudades in lst_ciudad]
t_mar = [ciudades[3] for ciudades in lst_ciudad]
t_abril = [ciudades[4] for ciudades in lst_ciudad]
data = {'Ciudad': ciudades,'Enero': t_ene,'Febrero':t_feb,'Marzo':t_mar,'Abril':t_abril}
df = pd.DataFrame(data)  
df.head()

    Ciudad  Enero  Febrero  Marzo  Abril
0  Londres    3.4      6.3   10.5    6.8
1     Oslo   -3.8     -5.0    5.1    4.2
2   Berlin    7.5      4.1   12.3   13.0
3   Málaga   14.7     12.3   19.5   18.4

b) Escribe un código para agregar la temperatura mínima, máxima, media y desviación 
estándar de los 4 primeros meses del año al DataFrame anterior.

In [ ]:
df['maximos'] = df.max(axis = 1)
df['minimos'] = df.min(axis = 1)
df['media'] = df.mean(axis = 1)
df['Desviacion estandar'] = df.std(axis = 1)
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

,Ciudad,Enero,Febrero,Marzo,Abril,maximos,minimos,media,Desviacion estandar
0,Londres,3.4,6.3,10.5,6.8,10.5,3.4,6.816667,2.908274
1,Oslo,-3.8,-5.0,5.1,4.2,5.1,-5.0,0.100000,4.726521
2,Berlin,7.5,4.1,12.3,13.0,13.0,4.1,9.000000,3.940389
3,Málaga,14.7,12.3,19.5,18.4,19.5,12.3,16.116667,3.142407

7. Base de datos cardiaca. La base de datos de enfermedades cardiacas UCI heart.csv, que se 
encuentra disponible en el aula

En este ejercicio se pide que se lea o cargue la base de datos desde heart.csv a un objeto DataFrame
(por ejemplo, dfCardio) y se presenten los siguientes resultados:

a) Mostrar las primeras 10 instancias (filas) del DataFrame. 

b) Calcular el número (conteo) de hombres y mujeres.

c) Calcular el número (conteo) de casos de angina de pecho inducida (atributo: exang)

d) Hallar el DataFrame con la estadística descriptiva de la frecuencia cardiaca (thalach)

e) Hallar un DataFrame que incluya la estadística descriptiva de la presión arterial sistólica en 
reposo (trestbps) y el colesterol (chol). (ambos en el mismo DataFrame)

In [3]:
  import pandas as pd

In [ ]:
df = pd.read_csv('heart.csv')

In [ ]:
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [ ]:
print('Número de hombres',len(df[df['sex']==1]))
print('Número de mujeres',len(df[df['sex']==0]))
print('Número de anginas de pecho',len(df[df['exang']==1]))

Número de hombres 207
Número de mujeres 96
Número de anginas de pecho 99

In [ ]:
df_estadistica = pd.DataFrame(df['thal'].describe())
df_estadistica.head()

             thal
count  303.000000
mean     2.313531
std      0.612277
min      0.000000
25%      2.000000

In [ ]:
df_estadistica_1 = pd.DataFrame(df['trestbps'].describe())
df_estadistica_2 = pd.DataFrame(df['chol'].describe())
df_concat = pd.concat([df_estadistica_1,df_estadistica_2],axis = 1)
df_concat.head(10)

         trestbps        chol
count  303.000000  303.000000
mean   131.623762  246.264026
std     17.538143   51.830751
min     94.000000  126.000000
25%    120.000000  211.000000
50%    130.000000  240.000000
75%    140.000000  274.500000
max    200.000000  564.000000

8. Base de datos presión arterial en DataFame. Dado un diccionario sobre hipertensión como el del 
ejemplo en el docstring del ejercicio 4, diseña una función que entre un diccionario donde la clave es
el nombre de la persona y el valor es una lista con la edad y las presiones sistólica y diastólica (en 
unidades: mmHg), devuelva un dataFrame que incluya como columnas: 'Nombre', 'Edad', 'Sistólica', 
'Diastólica' y una última columna calculada, etiquetada 'Diagnóstico', con datos categóricos con 
valores 'baja', 'normal', 'alta'. La presión arterial 'baja' la definimos así: si la presión sistólica es menor 
que 90 mmHg o la diastólica menor que 60 mmg. La presión 'alta' sería si la sistólica es mayor o igual 
a 140 mmHg o la diastólica es mayor o igual a 90 mmHg. En otras condiciones sería 'normal'. Ejemplo 
de diccionario de entrada y resultado

In [5]:
def df_presiones(diccionario):
  nombre = []
  edad = []
  sistolica = []
  diastolica = []
  diagnostico = []
  for clave in diccionario:
    nombre.append(clave)
    edad.append(diccionario[clave][0])
    sistolica.append(diccionario[clave][1])
    diastolica.append(diccionario[clave][2])
    if diccionario[clave][1]< 90 or diccionario[clave][2]< 60:
      diagnostico.append('baja')
    if diccionario[clave][1]>= 140 or diccionario[clave][2]>= 90:
      diagnostico.append('alta')
    if (diccionario[clave][1]< 140 and diccionario[clave][1]> 90) and (diccionario[clave][2]< 90 and diccionario[clave][2]> 60):
      diagnostico.append('normal')

  data = {'Nombre':nombre,'Edad':edad,'Sistólica':sistolica,'Diastolica':diastolica,'Diagnostico':diagnostico}
  df = pd.DataFrame(data)
  return df

In [6]:
dhiper = {'Maria': [40, 135, 90],'Nuria': [63, 141, 92], \
 'Jose': [47, 110, 59], 'Luis': [49, 146, 94], \
 'Oriol': [52, 130, 89], 'Carlos': [65, 125, 89], \
 'Pepe': [70, 130, 92]}
dataframe = df_presiones(dhiper)

In [7]:
dataframe

   Nombre  Edad  Sistólica  Diastolica Diagnostico
0   Maria    40        135          90        alta
1   Nuria    63        141          92        alta
2    Jose    47        110          59        baja
3    Luis    49        146          94        alta
4   Oriol    52        130          89      normal
5  Carlos    65        125          89      normal
6    Pepe    70        130          92        alta